.cart-block{
  width: 420px;
  height: 540px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(116, 116, 116, 0.5);
  border-radius: 2px;
  .button-block{
    display: flex;
    justify-content: center;
    align-items: center;
    &.btn-cart{
      height: 75px;
    }
  }
}